.repo_container{
   display: flex;
   justify-content: center;
}
.profile-row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 10px;
    column-gap: 10rem;
}
.profile-row-title{
    font-size: 1.2rem;
       font-weight: 500;
}
.profile-row-title-description{
    font-weight: 500;
    color:rgb(50, 24, 24);
    max-width: 400px;
    word-wrap: break-word;
}
@media screen and (max-width: 940px) {
.profile-row{
    column-gap: 4rem;
}
}